<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="question">
  <select id="selectQuestionList" resultType="question">
  	select * from question q join tb_member m on m.id = q.member_id order by que_no desc
  </select>
  <select id="selectQuestionTotalCount" resultType="_int">
  	select count(*) from question
  </select>
  
  	<insert id="insertQuestion">
		<selectKey keyProperty="attachNo" resultType="_int" order="BEFORE">
			select
				seq_attach_no_no.currval
			from
				dual
		</selectKey>
		insert into question values(seq_question_no.nextval, #{id}, default, #{queTitle}, #{queContent}, current_date, #{queCategory}, #{attachNo})
		
	</insert>
	<select id="selectOneQuestionByNo" resultType="question">
		select * from question where que_no = #{queNo}
	</select>
</mapper>