<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="question">
  <select id="selectQuestionList" resultType="question">
  	select * from question q join tb_member m on m.id = q.member_id order by que_no desc
  </select>
  <select id="selectQuestionTotalCount" resultType="_int">
  	select count(*) from question
  </select>
  
  	<insert id="insertQuestionFile">
		<selectKey keyProperty="attachNo" resultType="_int" order="BEFORE">
			select
				seq_attach_no_no.currval
			from
				dual
		</selectKey>
		insert into question values(seq_question_no.nextval, #{memberId}, default, #{queTitle}, #{queContent}, current_date, #{queCategory}, #{attachNo})
		
	</insert>
	<insert id="insertQuestion" >
		insert into question values(seq_question_no.nextval, #{memberId}, default, #{queTitle}, #{queContent}, current_date, #{queCategory}, null)
	</insert>
	<select id="selectOneQuestionByNo" resultType="question">
		select * from question q join tb_member m on m.id = q.member_id  where que_no = #{queNo}
	</select>
	
		<insert id="insertQueReply">
	insert into reply values(SEQ_REPLY_NO_NO.nextval, #{memberId},#{content},null,null,default,null,null,#{queNo},null,null)
	</insert>
	
	<select id="selectReplyListByqueNo" resultType="reply">
	
	select * from reply r join tb_member m on m.id = r.member_id  where que_no=#{queNo} order by que_no desc
	</select>
	
	<delete id="deleteOneReply">
	delete from reply where reply_no = #{replyNo}
	</delete>
	
	<select id="selectQueListByMemberId" resultType="question">
	select * from question q join tb_member m on m.id = q.member_id  where member_id=#{memberId} order by que_no desc
	</select>
	
	<select id="memberProfileRenamedFileName" resultType="string">
	select renamed_filename from attachment where member_id = #{id} and img_flag = 'P'
	</select>
	
	<select id="checkAuthoritiesOfReplyByQueNo" resultType="string" >
	select
		ra.aut
		from
		question q
		join 
		(select
		    r.que_no,
		    r.reg_date,
		    (select authority a from authorities a where a.member_id = r.member_id) aut
		from 
		    reply r
		where 
		    que_no= #{queNo}
		    order by reg_date desc) ra
		    on
		     ra.que_no = q.que_no
		    <![CDATA[ where rownum <=1 ]]>
		      <!-- where RowNum  <![CDATA[ <=]]>  1 -->
	</select>
	
	<update id="updateQueStatus">
	update question set status = #{status} where que_no = #{queNo}
	</update>
</mapper>