@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: column;
  font-family:  'NanumSquareRound';
}
::-webkit-scrollbar{width: 16px;}
::-webkit-scrollbar-track {background-color:#f1f1f1;}
::-webkit-scrollbar-thumb {background-color:#D7ECFB;border-radius: 10px;}

::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
width:16px;height:10px;background:#36A2EB;} 
.b-example-divider {
  flex-shrink: 0;
  /* width: 1.5rem; */
  height: 100vh;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg) !important;
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }

/* gw 작업환경 css */
.workspace-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 98%;
  overflow: auto;
}

/* gw 메인 작업환경 */
.gw_main_workspace-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98%;
  overflow: auto;
}
.box-file-input label{
  display:inline-block;
  background:#23a3a7;
  color:#fff;
  padding:0px 15px;
  line-height:35px;
  cursor:pointer;
}

.box-file-input label:after{
  content:"파일등록";
}

.box-file-input .file-input{
  display:none;
}

.box-file-input .filename{
  display:inline-block;
  padding-left:10px;
}
.main-banner-notice-new-box{
	width: 100%;
}
/* gw 채널 관리 */
.updateBoardRoom{
   	display:none;
}

#board-channel-list:hover>#board-channel-admin-btn{
   	display:inline;
}
.updateChatRoom{
	display:none;
}
#chat-channel-list:hover>#chat-channel-admin-btn{
   	display:inline;
}


/* 채팅 css */
.chat-content {
  padding: 1rem;
  margin-bottom: 5%;
}
.chat-message-box {
  width: 95%;
}
.chat-profile-container {
  display: -webkit-box;
  /* margin-top: 10px;
  margin-bottom: 10px; */
}
.chat-user-profile {
  width: 40px;
  height: 40px; 
  border-radius: 70%;
  overflow: hidden;
  margin-right: 10px;
  margin-top: 5px;
}
.chat-user-profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat-txt {
  float: left;
  width: 70%;
  margin-right: 5px;
}

.lobby {
  padding: 0 !important;
}
.chat-input-box {
    position: fixed;
    bottom: 0;
    width: 80%;
}
.chat-input-box-sizing{
	width: 93%;
}

/* 그룹웨어 header */
.groupwear-header-box {
  display: flex;
  align-items: center;
}
.groupwear-study-title {
  padding: 1rem 1rem 0rem 1rem;
}
.groupwear-channel-title {
  margin-left: 1rem;
  padding-bottom: 0.5rem;
}

/* 그룹웨어 css */
#cosmos-groupwear-workspace {
  display: flex;
  height: 92vh;
}
 div.main-group1{
   margin: 20px;
   text-align: center;
   width: 1000px;
   height: 200px;
   background-color:rgb(255, 255, 241);
}
 div.main-group2{
   margin: 30px;
   float:left;
   text-align: justify;
   width: 350px;
   height: 300px;
   background-color:rgb(255, 234, 237);        
      }
 div.main-group3{
   margin: 30px;
   text-align: center;
   width: 550px;
   height: 300px;
   float:right;
   background-color: rgb(241, 248, 250);
 }
 .calendar-img{
    width: 60%;
    height: 70%;
    object-fit:cover;
 }
 /* to do list css */
div.list-group{
  margin: 30px;
  width: 350px;
  height: 300px;
  background-color:rgb(255, 255, 241);
}
div.list-group1{
  float:left;
  margin: 30px;
  width: 350px;
  height: 300px;
  background-color:rgb(255, 234, 237);        
}
 b{
  font-size: 20px;
  color:orange;
}
 h4{
  text-align: center;
 }
/* 스터디 목록 css */
.study-thumbnail-box {
  display: inline-table;
  width: 40px;
  height: 40px;
  border-radius: 70%;
  overflow: hidden;
}
.study-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 음성채팅 css*/
.voice-chat-workspace {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.voice-chat-thumbnail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.voice-chat-display-share {
  margin: 5px;
}

.voice-chat-display-box {
  width: 100%;
  height: 200px;
  border-radius: 5%;
  overflow: hidden;
}

.voice-chat-display {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.voice-chat-participant {
  margin: 5px;
}

.voice-chat-thumbnail-box {
  width: 100%;
  height: 200px;
  border-radius: 5%;
  overflow: hidden;
}

.voice-chat-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.voice-chat-icon-box{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.voice-chat-icon {
  width: 4rem;
  margin: 0.5rem;
}

/* dm css */
.user-dm-list {
  margin-bottom: 0.5rem;
}

.user-dm-profile {
  display: flex;
  align-items: center;
}
.user-dm-profile-img-box {
  width: 30px;
  height: 30px; 
  border-radius: 70%;
  overflow: hidden;
  margin-right: 10px;
  margin-top: 5px;
}

.user-dm-profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user-dm-profile-name{
  margin: 0px;
}

/*화상채널 관리*/
.voiceChatEdit-title> h1{
	margin-bottom: 1.5rem;
}

/* 그룹원 리스트 css */
.on-off-text p{
  margin: 1rem 0rem 0.5rem 0rem;
  padding-left: 1rem;
}

.test-member-profile{
  display: flex;
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.test-member-list{
  width: 15%;
}
.member-profile-img-box{
  width: 30px;
  height: 30px; 
  border-radius: 70%;
  margin-right: 0.5rem;
  overflow: hidden;
  border: 2px solid #eee;
}
.member-profile-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}

.offline {
  -webkit-filter: grayscale(100%);
  filter: gray;
}

/* 그룹원 리스트(축소) css */
.test-member-list-small{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6%;
  text-align: center;
}

/* 스터디 가입 신청 관리 css*/
.study-join-admin-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 100vh;
  overflow: auto; */
  padding: 2rem;
}
.study-join-buttons {
  margin-top: 0.5rem;
}

.study-member-table h4 {
  margin-bottom: 1rem;
}
.study-join-table {
  margin-top: 2rem;
}
.study-join-table h4 {
  margin-bottom: 1rem;
}
/* 그룹웨어 게시판 css */
/* #re-rep-modify-input {
	width: 370%;
} */
.board-thead {
    color: #495057;
    background-color: #f8f9fa;
    border-color: #dee2e6;
}
.board-table-hover>tbody>tr:hover>* {
    --bs-table-accent-bg: var(--bs-table-hover-bg);
    color: #5288F2;
}
.test-board-outter{
  width: 100%;
  display: flex ; 
  flex-direction: column;
 
}
.test-board-search{
  margin-right: 15px;
}

.test-board-search img{
  width: 30px;
  height: 30px;
}
.test-board-title-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.test-board-outter table{
  text-align: center;
  margin: 15px;
  border: 1px solid black;
}
.test-board-outter table th,.test-board-outter table td{
  border: 1px solid black;
}
.test-board-outter table tbody tr{
  cursor: pointer;
}

.test-board-pagebar{
  display: flex;
    justify-content: center;
   margin-top: 30px;
}
#form-select-search {
  display: block;
  width: 100%;
  height:40%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: none;
  border-bottom: 2px solid #3D79F2;
  /* border: 1px solid #ced4da;
  border-radius: 0.25rem; */
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* 공지 게시판 css */
.test-notice-outter{
  	width: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    overflow:hidden;
}
.test-notice-outter table{
  margin: 15px;
}

/* 파일 게시판 css */
.file-board-table th, .file-board-table td{
  text-align: center;
}

/* 마이 게시판 */
.test-my-title{
  margin: 15px;
  margin-bottom: 20px;
}
.test-my-search{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}
.test-my-select{
  display: flex;
  float: left;
  flex-direction: row;
}
.test-my-select select{
  display: flex;
  align-items: center;
  width: 50%;
}

/* 저장된 항목 css */

.groupware-saved-outter{
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
}
.groupware-saved{
  width: 90%;
  background-color: lightgoldenrodyellow;
}
.groupware-saved-file-content{
  display: flex;
  align-items: center;
}
.groupware-saved-file-content div{
  
    margin-right: 20px;
}
.groupware-saved-file-content p{
  font-size: 13px;
}
.groupware-saved-inner{
  display: flex;
  flex-direction: row;
  margin-left:30px;
}
.groupware-saved-user-name-fileType{
  width:100%;
      display: flex;
    justify-content: flex-start;
    align-items: baseline;
}


.file-board-icon{
	width:63px;
}

#fileBoard-delete> i:hover{
	color: red !important;
    
}
.groupware-saved-file-info{
  border: 1.5px solid #E9E9E9;
    border-radius: 5px;
    overflow: hidden;
    padding: 8px;
  text-align: center;
  width: 39%;
  margin-left: 5%;
  display: flex;
  align-items: center;
}
.groupware-saved-card-box{
  justify-content: center;
}

.card-header span{
  color: #8B6AD3;
}


/* 게시글 디테일 페이지 css */
.groupware-board-detail-outter{
  display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.groupware-board-detail-title hr{
  margin: 0px;

}
.groupware-board-detail-title h3{
  margin-bottom: 13px;
}
.groupware-board-detail-title p {
  margin-bottom: 8px;
  font-size: 10px;
}
.groupware-board-detail-title p span{
  margin-left: 25px;
}
.groupware-board-detail-title-btns svg{
  margin: 10px;
  overflow: auto;
}
.groupware-board-detail-content{
  /* overflow: auto; */
  padding: 10px;
  padding-bottom: 40px;
}
.groupware-board-detail-rep{
  padding: 0px;
}
.groupware-board-detail-rep-name{
  height: 20px;
}
.groupware-board-detail-rep-btn-enroll{
  float: right;
  margin: 0px;
}
.p-4{
  margin: 40px 40px 40px 40px;
}
.post-content-img{
  max-width:500px;
  max-height:500px;
}
/* file게시판 enroll용 css */
.form-group {
	margin-bottom: 1rem;
}
.file-board-form {
    padding: 1rem 12rem 0rem 12rem;
}
.groupware-board-detail-outter {
  padding: 2rem;
}
.groupware-board-detail-outter h4 {
  margin-bottom: 1.8rem;
}
.where {
  display: block;
  margin: 25px 15px;
  font-size: 11px;
  color: #000;
  text-decoration: none;
  font-family: verdana;
  font-style: italic;
} 
.filebox input[type="file"] {
  /* position: absolute; */
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

.filebox label {
  /* display: inline-block; */
  padding: .5em .75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
}

/* named upload */
.filebox .upload-name {
  display: inline-block;
  padding: .5em .75em;
  font-size: inherit;
  font-family: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #f5f5f5;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

/* imaged preview */
.filebox .upload-display {
  margin-bottom: 5px;

}

@media(min-width: 768px) {
  .filebox .upload-display {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 0;
  }
}

.filebox .upload-thumb-wrap {
  display: inline-block;
  width: 100px;
  padding: 2px;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}
/* .filebox{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
} */

.filebox .upload-display img {
  display: block;
  max-width: 100%;
  width: 100% \9;
  height: auto;
}

.filebox.bs3-primary label {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  margin-top: 7px;
}
.upload-except-img-box{
  text-align: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.upload-except-img{
  text-align: center;
  
}

.upload-thumb-wrap{
  text-align: center;
  margin: auto;
  width: 10rem;
  height: 10rem; 
  overflow: hidden;
}
.upload-thumb-wrap img{
  
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.board-form-buttons {
  text-align: center;
  margin-top: 1rem;
}
/* 스터디 그룹 통계 관리 css */
.study-admin-box {
	padding: 2rem;
}

.goal-fulfillment-rate {
  margin-top: 2rem;
}

#goalChart, #activityChart {
  margin:auto;
  display: block;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
/* 그룹웨어 헤더 로그아웃 */
#gw-logout{
	cursor: pointer;
}
/* 그룹웨어 메인 css 수정 */
.groupware-main-outter{

}
.groupware-main-title{
	margin: 0px 0px 15px 50px; 
	height: 55%;
}
.groupware-main-contents{
	display: flex;
	justify-content: space-around;
	height: 30%;
}
.groupware-main-notice{
	display: flex;
    width: 23vw;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2%;
    border-radius:5px;
    box-shadow: 0px 0px 10px -5px;
}
.groupware-main-calendar{
	display: flex;
    width: 37%;
    flex-direction: column;
    align-items: center;
}
.groupware-main-banner{
	width: 805px;
    height: 460px;

}
 .groupware-main-today-schedule{
	margin-left:20px;
    overflow-y: auto;

} 


/* 그룹웨어 메인 달력 css */
/* Nanum Gothic;  Jeju Gothic;*/

#main {
	margin: 0 auto;
	height: 100%;

}
#app{
	/* border: 1px solid; */ 
    width: 100%;
    height: 100%;
}

.calendar-input {
    position: absolute;
    padding: 15px 0;
    width:250px;
    display: none;
    border:1px solid #ccc;
    z-index: 0;
}

.calendar-input.fadeIn {
    display: block;
    z-index: 999;
}

.calendar-input .calendar-body .calendar-title  {
    height: 35px;
}

.calendar-input .calendar-body .calendar-title .calendar {
    height: 35px;
    line-height: 35px;
}

.calendar-input .calendar-body .calendar-title .calendar-btn-left {
    background-size: 100%;     
}

.calendar-input .calendar-body .calendar-title .calendar-btn-right {
    background-size: 100%;
}

.calendar-input .calendar-body .calendar-title .calendar .title-y {
    font-size: 17px;
}

.calendar-input .calendar-body .calendar-title .calendar .title-m {
    font-size: 19px;
}

.calendar-input .calendar-body .calendar-head .calendar-week {
    font-size:10px;
}

.calendar-input .calendar-body .calendar-row {
    height: 35px;
}

.calendar-input .calendar-body .calendar-row .calendar-day {
    line-height: 30px;
}

.calendar-input .calendar-body .calendar-row .calendar-day span {
    font-size: 11px;
    width: 25px;
    height: 25px;
    line-height: 25px;
}

.calendar-input .calendar-body .calendar-row .calendar-day .special-name {
    font-size:0;
}

.calendar-input .calendar-body .special-day.active span::after {
    background: #c20606;
    transform: initial;
}

.calendar-body {
    position: relative;
    width: 80%;
    margin: 0px 30px 0 45px;
    font-size: 17px;
    font-family: 'Nanum Gothic';
    /* font-family: Roboto,Noto,Helvetica,Arial,sans-serif; */
    letter-spacing: -1px;
    text-align: center;
    background: #fff;
    z-index:2;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -5px;
    height: 100%;
}

.calendar-body .calendar-title {
    display:flex;
    height: 50px;
    font-size:20px;
    border-bottom: 1px solid #ccc;
    background: #fff;
    border-radius: 5px;
}

.calendar-body .calendar-title .title-y {
    background: #fff;
    border:1px solid #fff;
    outline: 0;
    padding: 0;
    font-size:25px;
    color: #000;
   
}

.calendar-body .calendar-title .title-m {
    background: #fff;
    border:1px solid #fff;
    outline: 0;
    padding: 0;
    font-size:27px;
    font-weight: 800;
    color: #000
}

.calendar-body .calendar-title div.calendar {
    font-size:18px;
    letter-spacing: 1.0px;
    width: 70%;
    height: 50px;
    line-height: 43px;
    text-align:center;
    letter-spacing: -1.0px;
}

.calendar-body .calendar-title #left-btn {
    width:15%;
    float:left;
    cursor:pointer;
}

.calendar-body .calendar-title .calendar-btn-left {
    background-position: 0 0;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAATklEQVR4Ae3NsRFAYBQE4e0KhZmRGK9kKkCgAMkF75/9Lr9FkhorKnt/v6vg/bcte38yee+99/lAx8Q1SGIeIrHwg4kVkomdoOJAktp4AKp2d2Pqh9YJAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
}

.calendar-body .calendar-title #right-btn {
    width:15%;
    float:right;
    cursor:pointer;
}

.calendar-body .calendar-title .calendar-btn-right { 
    background-position: 100% 0px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAAUUlEQVR4Ae3Nuw2AQBDE0GmLT2NIBMuVDAUM4WVkg7SSXwG2AKCRS6WgIcu5xSnLycWimwULFn8v1uwgnN+a55/G+Z38lyOVn2rmc4tSWwDwAg8dd8M/SQZ2AAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
}

.calendar-body .calendar-head {
    display:flex;
    height: 30px;
    border-bottom: 1px solid #ccc;
}

.calendar-body .calendar-head .calendar-week {
    line-height: 30px;
    width:calc(100% / 7);
    font-size:13px;
    color:#000000;
    font-weight: 400
}

.calendar-body .calendar-row {
 	pointer-events: none;
    display: flex;
    height: 12%;
    border-bottom: 1px solid #ccc;
}

.calendar-body .calendar-row:last-child {
    border: 0;   
}

.calendar-body .calendar-row .calendar-day {
    line-height: 25px;
    width:calc(100% / 7);
    height: 300%;
    position: relative;
}

.calendar-body .calendar-row .calendar-day span{
    display: inline-block;
    width: 42px;
    height: 5px;
    line-height: 180%;
    /* border-radius: 50%; */
    /*font-weight: bold; */
    cursor: pointer;
    font-size: 90%;
}

.calendar-body .calendar-row .calendar-day span:hover {
    /* border:1px solid #ccc */
}

.calendar-body .calendar-row .unable span{
    cursor: default;
    color:#c2c2c2
}

.calendar-body .today span {
    background:#dedede;
    color:#8f8f8f;
}

.calendar-body .active span {
   background: #2196f3;
    color: #2196f3;
}

.calendar-body .active:not(.special-day) span::after {
    content:'';
    position:absolute;
    background: rgba(255, 255, 255, .7);
    width:100%;
    height:100%;
    border-radius: 50%;
    pointer-events: none;
    transform: scale(0);
    top:0;
    left:0;
    z-index:11;
    animation: ripple_clicker .5s ease-out
}

.calendar-body .special-day span::after {
    content: '';
    background:#c20606;
    position: absolute;
    width:20%;
    height:20%;
    top:0px;
    right:0px; 
    border-radius: 50%;
    transition: all .5s
}

.calendar-body .special-day .special-name {
    position: absolute;
    width:100%;
    top:21px;
    text-align: center;
    font-size:11px;
    height: 0px;
    /* line-height: initial; */
    font-weight: bold;
    transition: all .5s
}

.calendar-body .special-day.active span::after {
    /* transform-origin: left; */
    background:#ffc1c1;
    transform: translate(-200%, 200%) scale(5.5)
}

.calendar-body .special-day.active .special-name {
    top:2px;
}

.calendar-body span {
    position: relative;
    color:#000000;
}

.calendar-body .tooltip {
    opacity: 0;
    position: absolute;
    top:105%;
    left:0;
    padding: 5px 20px;
    font-size: 16px;
    letter-spacing: 1.2px;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    transition: all .5s;
}

.calendar-body .tooltip::after {
    content: '';
    position: absolute;
    bottom:100%;
    left:10%;
    margin-left:-4px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.calendar-body:hover .tooltip {
    opacity: 1
}

.calendar-body .multi-choice::after {
    content:'';
    position:absolute;
    background: rgb(43, 74, 255);
    width:20px;
    height:20px;
    left:calc(50% + 10px);
    border-radius: 50%;
    pointer-events: none;
    transform: scale(0);
    top:0;
    right:0;
    z-index:1;
    animation: ripple .8s ease-out infinite
}

.calendar-body .drag-body {
    background: #21ddcd;
    background-size: 90%
}

.calendar-body #context {
    position:absolute;
    display:none;
    top: 45px; 
    left: calc(50% - 18px);
    z-index:2;
}

.calendar-body #context.show {
    display: block;
    z-index:9;
}

.calendar-body #multi-button {
    background:#fff;
    position: absolute;
    top:0;
    padding:0;
    width:36px;
    height:21px;
    font-size:11px;
    text-align:center;
    border:1px solid black;
    outline: none;
}


@keyframes ripple_clicker {
    to{
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes ripple {
    to{
        transform: scale(1);
        opacity: 0;
    }
}

/* 채팅방 생성 modal */
.modal-member-profile{
	display: flex;
    align-items: center;
}
.modal-member-profile-box{
  display: inline-block;
  width: 30px;
  height: 30px; 
  border-radius: 70%;
  overflow: hidden;
  margin-right: 10px;
  margin-top: 5px;
}
.modal-member-profile-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* DM css */
.btn-profile, .btn-profile2, .btn-profile3{
	cursor: pointer;
}
.dm-content {
  padding: 1rem;
}
.dm-message-box {
  width: 90%;

}
.dm-profile-container {
  display: flex;
  flex-direction: column;
}
.dm-user-profile {
  width: 40px;
  height: 40px; 
  border-radius: 70%;
  overflow: hidden;
  margin-right: 10px;
  margin-top: 5px;
}
.dm-user-profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dm-txt {
  float: left;
  width: 70%;
  margin-right: 5px;
}

.lobby {
  padding: 0 !important;
}
.dm-input-box {
    position: fixed;
    bottom: 0;
    width: inherit;
}
.modal-dm-txt{
	float: left;
	width: 90%;
	margin-right: 5px;
}
.modal-dm-input-box{
	display: flex;
	justify-content: center;
}


/*그룹웨어 파일게시판  */
#fileBoard-delete{
	background: transparent;
    border: none;
}
.dm-message-content-box{
	display: flex;
}
.dm-modal-body{
	height: 65vh;
    overflow-y: auto;
}
/* 디엠 팝업 */
.dmPopup-box{
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* 그룹웨어 채팅방 드롭 이미지 프리뷰 */
.drop-img-preview{
	display: flex;
    width: 70%;
    height: 100px;
    margin-bottom: 5px;
    justify-content: flex-end;
}
/* 투표 css */
.groupware-vote-outter{
	width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.present-vote-box{
	background-color: rgb(162, 190, 228, 0.1);
    margin-top: 2%;
    width: 93%;
    height: 43%;
    margin-left: 3%;
    /* margin-right: 5%; */
    display: flex;
    align-items: center;
}
.old-vote-box{
	width: 100%;
	height: 53%;
	margin-top: 2%;
	display: flex;
}
.vote-in-progress, .vote-closed-box{
	background-color: rgb(162, 190, 228, 0.1);
	overflow-y: auto;
	width: 45%;
	height: 90%;
	margin-left: 3%;
}
.present-vote{
    background-color: rgb(162, 190, 228, 0.2);
    width: 95%;
    height: 90%;
    margin-left: 1%;
    padding-top: 15px;
    padding-left: 15px;
}
.present-vote-control-box{
	width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-around;
}
.vote-controll-btn{
	margin-bottom: 5%;
}
.vote-question-box{
    height: 75%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 5%;
}

.vote_modal_question_box{
	display: flex;
    align-items: center;
}
.vote_modal_question_box input{
	margin-left: 10px;
    margin-right: 1px;
}
.vote_modal_question_box label{
	margin-bottom: 0px;
}
.vote_modal_question_add_option_box{
	display: flex;
    align-items: center;
}
.vote_modal_question_option_box{
	display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.vote_modal_question_option{
	display: flex;
    align-items: center;
    width:100%;
    margin-bottom: 5px;
}
.vote_modal_question_option_outter{
	overflow-y : auto;
}
.vote-title{
	font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.option-maker{
	display: inline-block;
	margin-left: 2%;
}
.vote-view{
	height: 100%;
	
}
.vote-sub-info{
	text-align: right;
    margin-right: 5px;
}
/* 투표 버튼 css */
.vote-button{
    width: 270px;
    height: 35px;
    border: none;
    outline: none;
    background: #5288F2;
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.vote-check-box{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    box-shadow: 0 0 12px -2px rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: -40px;
    opacity: 0;
}

.vote-check-box svg{
    width: 40px;
    margin: 20px;
}

.vote-svg path{
    stroke-width: 3;
    stroke: #fff;
    stroke-dasharray: 34;
    stroke-dashoffset: 34;
    stroke-linecap: round;
}

.vote-active{
    background: #ff2b75;
    transition: 1s;
}

.vote-active .check-box{
    right: 0;
    opacity: 1;
    transition: 1s;
}

.vote-active p{
    margin-right: 125px;
    transition: 1s;
}

.vote-active svg path{
    stroke-dashoffset: 0;
    transition: 1s;
    transition-delay: 1s;
}

/*그룹장 멤버관리 페이지*/

#acceptedMemeber th{
	padding: 0.8rem !important;	
}
/*타이틀 h4*/
.study-member-table h4 {
    margin-bottom: 1rem;
    height: 27px;
    width: fit-content;
    border-bottom: 12px solid #D7ECFB;
}

.study-join-table h4 {
    margin-bottom: 1rem;
    height: 27px;
    width: fit-content;
    border-bottom: 12px solid #D7ECFB;
}


.file-total-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

