@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#login-form-div {
  height: 120px;
  text-align: center;
  display: flex;
  align-items: center;
}
.btn-outline-success:hover {
	background-color: none;
}

.nav-logo-img{
  width: 150px;
}

.nav-item{
  margin-right: 30px;
  margin-left: 30px;
}

.nav-container{

  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.category{
  margin-left: 15px;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 6px;
  background-color: #fff;
  height:400px;
  /* margin: auto; */
}
.cate-list{
  display: flex;
  flex-wrap: wrap;
}
.category li {
  position: relative;
  width: 33.333%;
  background-repeat: no-repeat;
  margin-top: 1em;
  margin-bottom: 1em;
  font-style: #846CD9;
}
.category ul {
  text-align: center;
  
}


.btn-category{
  width: 100%;
  height: 50px;
  border: none;
  color:#2458BF;
  font-weight: bold;
}



.slick-items{
  width: 854px;
  height: 300px;
}

.main-slide{
  height: 400px;
  width: 100%;
  object-fit: cover;
}


.index-row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  /* flex-wrap: wrap; */
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.index-outer1{
  display: flex;
  margin-left: -12px;
 padding-right: 12px;
 
}

.index-outer2{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

/*footer*/

.footer-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer-up-box {
	
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.footer-down-box{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-list-content{
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 30px;
}
#footer_logo{
  width: 30%;
}
.footer-list{
  width: 50%;

}

/*스터디 서칭 css시작부분*/
.nav-tabs{
  border-bottom: 1px solid #dee2e6;
  display: flex;
  justify-content: center;
}
.child-category-all{
  display: flex;
  justify-content: space-evenly;
  padding:20px 0;
}

.inner1{
  display: flex;
}
.search-inner{
   display: flex;
   justify-content: space-evenly;
   margin-top: 40px;
}
.search-card{
  margin-right: 20px;
}

.search-outer-top{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
 
}

.search-input{
  width: 300px;
  margin-left: 10px;
}

.search-select{
  width: 150px;
}

.search-outer-top .right{
  margin-right: 20px;
}

#class-amount{
  padding-top: 5px;
  margin-right: 10px;
}

.card-img-div{
	width: 350px;
    height: 300px;
    overflow: hidden;
}

.search-card-body{
	width: 350px; 
    height: 167px;
}

#search-select{
	width:40%;
}

.search-inner-button{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.fa-heart:before {
	font-size : 25px;
	color: red;
}
.fa-comment:before {
	margin-left: 10px;
	font-size: 25px;
	color: black;
}


/*그룹 생성하기 css*/

.group-create-button{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.group-text-input{
  margin-top: 10px;
}


.group-form-check{
  display: flex;
  justify-content: center;
}


.group-text-form{
  justify-content: center;
}


/* 회원가입 입력폼 */

.gender-radio{
  display: flex; 
  justify-content: space-evenly;
}

/*그룹가입 입력폼*/
.group-join-notice  li{
  list-style-type: disc;
}

/*나의그룹목록*/
.my-group-list{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  
}

.my-group-list h2{
  margin-left: 40px;
}

.member-group-list{
  display: flex;
  height:100px;
  width:100px;
}

.member-group-list-outer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*스터디 디테일 뷰*/
.cate-plus{
	color:white;
	background-color:#6D8EF2;
	font-size:10px;
	border-radius:5px;
	padding:5px;
}
.class-detail-wrap{
  	display: flex;
    flex-direction: row;
    position: relative;
    width: 1200px;
    margin: 40px auto 0;
}
.class-img{
    width: 700px;
    margin-bottom: 50px;
}
.class-detail-left-container{
    float: left;
    width: 700px;

}
.class-detail-right-container{
    position: sticky;
}
.sticky-button-area{
    display: flex;
}
.leader-profile-img {
    width: 5%;
    border-radius: 70%;
    overflow: hidden;
    margin-right: 10px;
}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.leader-profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;

}
#group-leader-name{
    color: #843C9F;
    font-weight: bold;
}
#sticky-content{
     display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.class-info-comm{
    display: flex;
    margin-bottom: 100px;
}
.comm-left-box{
    width: 152px;
}
.comm-left-box .class-left-title{
    font-size: 26px;
    text-align: left;
    line-height: 34px;
    color: #333;
    font-weight: bold;
    word-break: keep-all;
}
.comm-right-box{
    margin-left: 60px;
    width: calc(100% - 212px);
}

.class-info-first{
    margin-bottom: 50px;
}

#detail-inputbox{
    width: 500px;
    height: 38px;
}
#command{
	display: contents;
}
.group-reply-enroll{
    display: flex;
    justify-content: space-between;
}

/* API회원가입/로그인창  */
.API-outer{
	display: flex;
    flex-direction: column;
    align-items: center;
}
#naver_id_login{
	margin:20px 0  15px 0;
}
.kakao-login{
	margin-bottom:15px;
}
.g-signin2{
	margin-bottom:15px;
}

.box_login {
    width: 420px;
    margin: 0 auto;
    padding: 35px 20px;
    border: 1px solid #eee;
}

.login_main > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box_login .box_btn .btn {
    display: inline-block;
    position: relative;
    height: 20px;
    margin-top: 10px;
    padding: 0 17px 0 14px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.35px;
    color: #666;
}

.API-enroll-form{
    text-align: center;
    margin: 30px 0 50px 0;
}

.API-enroll-form >h3{
	margin-top : 15px;
	font-size: 20px;
}

#reply-writer{
	margin:10px;	
}

#reply-content{
	margin: 10px 10px 10px 0px;
}

/*인덱스 페이지로그인후 배너 카테고리 수정*/
.login-index{
	height: 200px;
}


.index-member-group{
	margin-top: 25px;	
}
.index-member-group button{
	border: none;
	background: none;
	
}

.login-index  .login-popular{
   position: relative;
   width: 33.333%;
   background-repeat: no-repeat;
   margin-top: 0.5em;
   margin-bottom: 1em;
   font-style: #846CD9
}
.index-member-box  img{
	width:80px;
	height: 80px;
	margin: 20px;
}


.index-member{
	margin: 65px 10px  0 120px;
}

.index-member-info{
	margin-top: 30px;
}

.index-member-group a{
	display: inline-block;
     margin: 30px; 
}
#loginOut{
    background: transparent;
    outline:none;
    border:none;
}
#index-group-box{
    margin:0px 5px 0px 5px;
}

.index-mb-4{
	margin-bottom: 1.5rem ;
}
.index-row{
	display:flex;
	flex-wrap: wrap;
}

.slick-prev:before, .slick-next:before{
  color: #666 !important;
  opacity: 1 ; 
}
/* 화살표 위치 변경 */
.slick-prev{
  z-index: 9 ;
}
.slick-next{
  z-index: 9 ;
  right: -8px;  
}

 .aboutdetail.outer{
   
    display: flex;
    justify-content: space-between;

  }


.aboutdetail.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width:  600px;
}


.aboutdetail.rightouter{
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    margin-left: 90px;
}


.aboutdetail.rightinner{
    /* border: 1px solid #000; */
    width: 100px;
    height: 150px;
    /* margin: 20px 20px 20px 0px; */
    margin: 0px auto;
    overflow: hidden; 
   
}

.aboutdetail.rightinner>img{
    /* border: 1px solid #000; */
    width: 100px;
    height: 100px;
    transition: all 0.2s linear;

}

.aboutdetail.rightinner>img:hover{
	width:100px;
	height:100px;
    transform: scale(1.2);
    margin: 0px auto;
   

}


.rightBtn{
	background:#A0BFB5;
	color:#fff;
	border:none;
	position:relative;
	top:10px;
	transition:800ms ease all;
	width: -webkit-fill-available; 
    font-size: .7rem;
    padding: 0px;
    height: 20px;
    top: 5px;
    line-height: 18px;
    border-radius : 7px;
    font-family: 'NanumSquareRound';
}
.aboutdetail.rightinner >button:hover{
	background: #fff;
    color: #1AAB8A
	
}

.aboutdetail.leftbox{
    width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 500px;
}

.left.image{
    width: 250px;
}

.left.image img{
    width: 250px;
    border-radius:50%;
    height: 250px;
    border: 4px solid #005A3C;
}


.aboutdetail.leftbox>img{
    width: 250px;
    height: 250px;
    border: 1px solid #000;
   
}

.left.image p{
	 font-family: 'NanumSquareRound';
	 font-size:2rem;
	
} 


.aboutdetail.leftbox>button{
    position: relative;
    top: 20px;

}

.aboutdetail.leftbox{
    display: none;
    margin-left: 50px;
}

.left.content{
	font-family: 'NanumSquareRound';
    width:550px;
   	text-align: left;
    margin-left: 60px;
}
.left.image{
	text-align: center;
}

.leftbox.active{
    display: flex;
}

.underlined-text {
  font-size:0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.underlined {
  display: block;
  float:left;
  position:relative;
}
.underlined:before {
  display: block;
  content:'';
  position:absolute;
  width:100%;
  bottom:0;
  left:0;
  background:#f66;
  z-index:-1;
}
.underlined.first:before {
  height:25px;
  background:#A0BFB5;
  
}
.underlined.second:before {
  height:25px;
  background:#005A3C;
}
.about p{
	margin-bottom :10px;
    font-size: 40px;
    font-family: 'Recipekorea';
    -webkit-text-stroke: 1px  #000;
    color: cornsilk;
}
/*어바웃디테일 끝*/


#categoryTab{border: 1px solid black;}
#navbarSupportedContent{display: flex;}
#navbar{display: flex;}
.sns_logo{height: 40px;margin-right: 20px;}

li{list-style-type: none;}
a:link {text-decoration: none;cursor: pointer;}
a:visited {color: black; text-decoration: none;}
footer{display: flex;}



/*멤버 신청한가입그룹 css*/
ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.tabs li{
  display: inline-block;
	background: #f2f2f2 ;
	color: black;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #6D8EF2;
	color: #222;
}

.tab-content{
	border: 2px solid #eee;
 	display: none;
	padding: 12px;
}

.tab-content.current{
	display: inherit;
}

/* 회원정보 수정 css */
.deleteProfile{
	position: absolute;
	left: 60%;
}
[data-tooltip-text]:hover {
	position: relative;
	cursor: pointer;
}

[data-tooltip-text]:hover:after {
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.8);

	-webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	-moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	color: #FFFFFF;
	font-size: 12px;
	content: attr(data-tooltip-text);

    margin-bottom: 10px;
	top: 130%;
	left: 0;    
	padding: 7px 12px;
	position: absolute;
	width: auto;
	min-width: 95px;
	max-width: 300px;
	word-wrap: break-word;

	z-index: 9999;
}

/* DM css */
.btn-profile{
	cursor: pointer;
}
.dm-content {
  padding: 1rem;
}
.dm-message-box {
  width: 90%;

}
.dm-profile-container {
  display: flex;
  flex-direction: column;
}
.dm-user-profile {
  width: 40px;
  height: 40px; 
  border-radius: 70%;
  overflow: hidden;
  margin-right: 10px;
  margin-top: 5px;
}
.dm-user-profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dm-txt {
  float: left;
  width: 70%;
  margin-right: 5px;
}

.lobby {
  padding: 0 !important;
}
.dm-input-box {
    position: fixed;
    bottom: 0;
    width: inherit;
}
.modal-dm-txt{
	float: left;
	width: 90%;
	margin-right: 5px;
}
.modal-dm-input-box{
	display: flex;
	justify-content: center;
} 	
.dm-message-content-box-lv1{
	display: flex;
}


