<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vote">
  <insert id="insertVote">
  insert into vote values(#{groupNo}, seq_vote_no.nextval, #{voteTitle}, #{voteDeadline}, default, #{memberId} )
  	  <selectKey keyProperty="voteNo" resultType="_int" order="AFTER">
					select
						seq_vote_no.currval
					from
						dual
	  </selectKey>
  </insert>
  
  <insert id="insertVoteQuestion">
  insert into vote_question values(#{voteNo}, 1, #{voteQuestionTitle}, #{voteQuestionType} )
  </insert>
  
  <insert id="insertVoteOption">
  insert into vote_option values(#{voteQuestionNo}, #{voteOption}, #{voteNo})
  </insert>
  
  <select id="selectGroupNewVoteNOByGroupNo" resultType="_int">
  select
    vote_no
from (
    select
        rownum old,
        v.*
    from
        vote v
    where group_no = #{groupNo}
    order by
        vote_enroll_date desc
)
where 
    rownum = 1
  </select>
  
  <select id="selectVoteInfoListByVoteNo" resultType="voteInfo">
select *
  from vote v join vote_question q 
    using(vote_no) 
    join tb_member m on v.member_id =m.id 
where vote_no = #{voteNo}
  </select>
  <select id="selectVoteInfoByVoteNo" resultType="voteInfo">
 select *
  from vote v join vote_question q 
    using(vote_no) 
    join tb_member m on v.member_id =m.id 
where vote_no = #{voteNo} 
  </select>
  <select id="selectVoteOptionByVoteNo" resultType="voteOption">
  select * from vote_option where vote_no = #{vote_no}
  </select>
  
  <select id="selectVoteInfoByParam" resultType="voteInfo">
    select *
  from vote v join vote_question q 
    using(vote_no) 
    join tb_member m on v.member_id =m.id 
where group_no = #{groupNo} and vote_no != #{voteNo}
	order by v.vote_enroll_date desc
  </select>
  
  <insert id="insertVoteAnswer">
  insert into vote_answer values(#{voteNo}, #{memberId}, #{voteQuestionNo}, #{voteAnswer})
  </insert>
  
  <select id="selectVoteAnswer" resultType="_int">
  select count(*) from vote_answer where vote_no = #{voteNo} and vote_question_no = #{voteQuestionNo} and member_id = #{memberId}
  </select>
  
  <select id="selectAnswerdMemberCnt" resultType="_int">
  select count(*) from vote_answer where vote_no = #{voteNo}
  </select>
</mapper>