<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gwAdmin">
  <select id="selectAllAcceptGroupMemberList" resultType="applocationGroup">
  	select 
  		* 
  	from 
  		applocation_group
	where 
		group_no = #{groupNo} and group_accept='Y'
  
  </select>
  
  <select  id="selectAllWaitingGroupMemberList" resultType="applocationGroup">
     	select 
  		* 
  	from 
  		applocation_group
	where 
		group_no = #{groupNo} and group_accept='N'
  </select>
  
  <update id="updategroupAccept" >

	 update applocation_group SET group_accept ='Y' where group_no =#{groupNo} and member_id in (#{idList})
</update>

  <update id="updategroupAcceptByList"  parameterType="hashmap">
	 update applocation_group SET group_accept ='Y' 
	 where group_no =	
		 #{groupNo}
	 and member_id in (	
	  <foreach collection="idList" item="item" open="" separator="," close="">
              	#{item}
      </foreach>
      )
</update>

	<select id="selectGwGroupPool" resultType="_int">
	select
	group_pool
		from
	tb_group 
	where group_no = #{groupNo}
	
	
	</select>
	
	<select id="selectGwGroupCount" resultType="_int">
	select
		count(*)
		from applocation_group where group_accept='Y' and group_no =#{groupNo}
	
	
	</select>

	<delete id="deletegroupRefuseByList" >
		 delete from applocation_group where group_no =#{groupNo} and member_id in(	
		  <foreach collection="idList" item="item" open="" separator="," close="">
	              	#{item}
	      </foreach>
	      )
	</delete>
	
	<delete id="deleteGwMember">
		delete
  	from 
  		applocation_group
	where 
		group_no = #{groupNo} and group_accept='Y' and member_id = #{gwDeleteMember}
	</delete>
	
	<update id="updateMemberRole" parameterType="hashmap">
	update applocation_group set role = #{memberRole} where group_no=#{groupNo} and member_id=#{memberId}
	</update>
	
	
	<select id="selectChartIdNickNameList" resultType="IdNickName">
		select
		id,
		nickname
		from
		tb_member
	
	</select>
	
	<select id="selectcheckedToDoList" resultType="TdlMemberCount">
		SELECT member_id,
		    COUNT(*) count 
		    FROM todolist
		    where tdl_checked ='Y'  
		    and  tdl_update_date BETWEEN TO_DATE('2021-12-01','YYYY-MM-DD') AND TO_DATE('2021-12-30','YYYY-MM-DD') 
		    and group_no = #{groupNo}
		    GROUP BY member_id

	</select>

	<insert id="insertMemberAuthority">
		insert into authorities values(#{id}, 'ROLE_GW${groupNo}MEMBER')
	</insert>

	<select id="selectTdlMonthlyDataList" resultType="TdlMonthlyData">
				 <![CDATA[
				select
				TO_CHAR(tdl_create_date, 'MM') as monthlyData, 
				count(*) as count 
				from todolist
				where tdl_create_date >=TO_DATE('2021/06/01','YYYY-MM-DD') and tdl_create_date < TO_DATE('2022/01/01','YYYY-MM-DD') 
				and group_no =#{groupNo}
				GROUP BY to_char(tdl_create_date, 'MM')
				order by monthlyData asc
				]]>
	</select>
	
	<select id="tdlMonthlyMemberCountList" resultType="TdlMonthlyData">
		 <![CDATA[
	            select
                TO_CHAR(tdl_update_date, 'MM') as monthlyData,
                count(*) as count ,
                COUNT(distinct member_id ) as memberCount
                from todolist
                where tdl_update_date >=TO_DATE('2021/06/01','YYYY-MM-DD') and tdl_update_date < TO_DATE('2022/01/01','YYYY-MM-DD') 
                and group_no =#{groupNo}
                GROUP BY TO_CHAR(tdl_update_date, 'MM')               
                order by monthlyData asc
         ]]>
	
	</select>
	
</mapper>