<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chat">
  <insert id="createChatRoom">
  insert into chat_room values(seq_chat_room_no.nextval, #{chatRoomName}, 'Y', 'N', default, default, #{groupNo}, #{chatRoomOpenType})
	  <selectKey keyProperty="chatRoomNo" resultType="_int" order="AFTER">
					select
						seq_chat_room_no.currval
					from
						dual
	  </selectKey>
  </insert>
  <select id="selectChatRoomByChatRoomNo" resultType="chatRoom">
  select * from chat_room where chat_room_no = #{chatRoomNo}
  </select>
  <select id="selectAllMessageFromChatRoomNo" resultType="chatMessage">
  select m.*, a.renamed_filename as "chatFileRenamedFilename" from chat_message m left join attachment a on m.attach_no = a.attach_no where chat_room_no = #{chatRoomNo} order by "CHAT_MESSAGE_At"
  </select>
  <select id="selectGroupMasterId" resultType="string">
  select member_id from applocation_group where group_no = #{groupNo} and role = 'G'
  </select>
  <insert id="insertChatAdminByParam">
  insert into chat_admin values(seq_chat_admin_no.nextval, #{chatRoomNo}, #{memberId})
  </insert>
  <insert id="insertChatUserByParam">
	  <selectKey keyProperty="chatAdminNo"  resultType="_int" order="BEFORE">
				select
					seq_chat_admin_no.currval
				from
					dual
	  </selectKey>

  insert into chat_user values(
  	seq_chat_user_no.nextval, 
  	#{chatRoomNo}, 
  	#{memberId}, 
  	#{chatAdminNo})
  </insert>
  <select id="selectChatUserList" resultType="chatUser">
  select 
    u.*, 
    m.nickname,
    a.renamed_filename
  from 
    chat_user u join tb_member m on u.member_id = m.id 
    join (select * from attachment where img_flag = 'P') a on a.member_id = m.id
  where chat_room_no = #{chatRoomNo}
  </select>
  
  <select id="selectChatUserIdList" resultType="string">
  select member_id from chat_user where chat_room_no = #{chatRoomNo}
  </select>
  
  <insert id="insertChatUserByParamWithAdminNo">
   insert into chat_user values(
  	seq_chat_user_no.nextval, 
  	#{chatRoomNo}, 
  	#{memberId}, 
  	#{chatAdminNo})
  </insert>
  
  <select id="selectChatUserNoByMemberId" resultType="_int">
  select chat_user_no from chat_user where member_id = #{id} and chat_room_no = #{chatRoomNo}
  </select>
  
  <insert id="insertChatMessage">
  insert into chat_message values(seq_chat_message_no.nextval, #{chatRoomNo}, #{chatUserNo}, #{chatMessageContent}, default, #{chatMessageTypeNo}, null)
  </insert>
  
  <insert id="insertChatMessageWithFile">
   <selectKey keyProperty="attachNo"  resultType="_int" order="BEFORE">
				select
					seq_attach_no_no.currval
				from
					dual
	  </selectKey>
  insert into chat_message values(seq_chat_message_no.nextval, #{chatRoomNo}, #{chatUserNo}, #{chatMessageContent}, default, #{chatMessageTypeNo}, #{attachNo})
  
  </insert>
  
  <select id="selectMemberNameByMemberId" resultType="string">
  select nickname from tb_member where id = #{id}
  </select>
  
  <insert id="insertDm">
  insert into dm values(seq_dm_no.nextval, #{dmSender}, #{dmReceiver}, #{dmContent}, default, #{chatMessageTypeNo}, null)
  </insert>
  <select id="selectDMListByParam" resultType="DM">
select 
d.*,
    m.nickname dm_sender_nickname,
    a.renamed_filename dm_sender_profile_renamed_filename
from 
    dm d join tb_member m on d.dm_sender = m.id 
    join attachment a on d.dm_sender = a.member_id
where (dm_receiver = #{receiver} and dm_sender = #{sender} and img_flag = 'P')or (dm_receiver =  #{sender} and dm_sender = #{receiver} and img_flag = 'P')
order by d."DM_MESSAGE_At"
  </select>
  <select id="selectMySenderList" resultType="string">
  select DISTINCT dm_sender from dm where dm_receiver = #{receiver} and dm_sender != #{receiver}
  </select>
  <select id="selectMynewDM" resultType="DM">
  select
    *
from (
select 
d.*,
    m.nickname dm_sender_nickname,
    a.renamed_filename dm_sender_profile_renamed_filename
from 
    dm d join tb_member m on d.dm_sender = m.id 
    join attachment a on d.dm_sender = a.member_id
where (dm_receiver = #{receiver} and dm_sender = #{sender} and img_flag = 'P')or (dm_receiver = #{sender} and dm_sender = #{receiver} and img_flag = 'P') order by d."DM_MESSAGE_At" desc
) e    
where 
    rownum = '1'
  </select>
  <select id="newDMCheck" resultType="int">
select count(dm_sender) from (select
    *
from (
select 
d.*,
    m.nickname dm_sender_nickname,
    a.renamed_filename dm_sender_profile_renamed_filename
from 
    dm d join tb_member m on d.dm_sender = m.id 
    join attachment a on d.dm_sender = a.member_id
where (dm_receiver = #{id} and img_flag = 'P')or (dm_sender = #{id} and img_flag = 'P') order by d."DM_MESSAGE_At" desc
) e    
where 
    rownum = 1) group by dm_sender having dm_sender != #{id}
  </select>
  <delete id="deleteChatRoom">
  delete chat_room where chat_room_no = #{chatRoomNo}
  </delete>
  <delete id="deleteChatMessage">
  delete chat_message where chat_message_no = #{chatMessageNo}
  </delete>
  <delete id="deleteDmMessage">
   delete dm where dm_no = #{dmMessageNo}
  </delete>
</mapper>