<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chat">
  <insert id="createChatRoom">
  insert into chat_room values(seq_chat_room_no.nextval, #{chatRoomName}, 'Y', 'N', default, default, #{groupNo}, #{chatRoomOpenType})
	  <selectKey keyProperty="chatRoomNo" resultType="_int" order="AFTER">
					select
						seq_chat_room_no.currval
					from
						dual
	  </selectKey>
  </insert>
  <select id="selectChatRoomByChatRoomNo" resultType="chatRoom">
  select * from chat_room where chat_room_no = #{chatRoomNo}
  </select>
  <select id="selectAllMessageFromChatRoomNo" resultType="chatMessage">
  select * from chat_message where chat_room_no = #{chatRoomNo} order by "CHAT_MESSAGE_At"
  </select>
  <select id="selectGroupMasterId" resultType="string">
  select member_id from applocation_group where group_no = #{groupNo} and role = 'G'
  </select>
  <insert id="insertChatAdminByParam">
  insert into chat_admin values(seq_chat_admin_no.nextval, #{chatRoomNo}, #{memberId})
  </insert>
  <insert id="insertChatUserByParam">
	  <selectKey keyProperty="chatAdminNo"  resultType="_int" order="BEFORE">
				select
					seq_chat_admin_no.currval
				from
					dual
	  </selectKey>

  insert into chat_user values(
  	seq_chat_user_no.nextval, 
  	#{chatRoomNo}, 
  	#{memberId}, 
  	#{chatAdminNo})
  </insert>
  <select id="selectChatUserList" resultType="chatUser">
  select 
    u.*, 
    m.member_name,
    a.renamed_filename
  from 
    chat_user u join tb_member m on u.member_id = m.id 
    join (select * from attachment where img_flag = 'P') a on a.member_id = m.id
  where chat_room_no = #{chatRoomNo}
  </select>
  
  <select id="selectChatUserIdList" resultType="string">
  select member_id from chat_user where chat_room_no = #{chatRoomNo}
  </select>
  
  <insert id="insertChatUserByParamWithAdminNo">
   insert into chat_user values(
  	seq_chat_user_no.nextval, 
  	#{chatRoomNo}, 
  	#{memberId}, 
  	#{chatAdminNo})
  </insert>
  
  <select id="selectChatUserNoByMemberId" resultType="_int">
  select chat_user_no from chat_user where member_id = #{id} and chat_room_no = #{chatRoomNo}
  </select>
  
  <insert id="insertChatMessage">
  insert into chat_message values(seq_chat_message_no.nextval, #{chatRoomNo}, #{chatUserNo}, #{chatMessageContent}, default, #{chatMessageTypeNo}, null)
  </insert>
  
  <select id="selectMemberNameByMemberId" resultType="string">
  select member_name from tb_member where id = #{id}
  </select>
  
  <insert id="insertDm">
  insert into dm values(seq_dm_no.nextval, #{dmSender}, #{dmReceiver}, #{dmContent}, default, #{chatMessageTypeNo}, null)
  </insert>
  
</mapper>