<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="group">
  <insert id="insertGroup">
	insert into 
		tb_group
	values(
		seq_group_no.nextval,
		#{categoryNo},
		#{groupName},
		default,
		#{groupCharge},
		default,
		#{groupPool},
		#{groupPrivate},
		default,
		#{groupLocation}
	)
  </insert>
	<insert id="insertAttach">
		<selectKey keyProperty="groupNo" resultType="_int" order="BEFORE">
			select
				seq_group_no.currval
			from
				dual
		</selectKey>
		insert into
			attachment
		values(
			seq_attach_no_no.nextval,
			#{memberId},
			#{groupNo},
			#{originalFilename},
			#{renamedFilename},
			sysdate,
			#{imgFlag},
			default
		)
	</insert>
 	<insert id="insertGroupInfoConnect">
 		<selectKey keyProperty="groupNo" resultType="_int" order="BEFORE">
			select
				seq_group_no.currval
			from
				dual
		</selectKey>
		insert into 
			group_groupinfo
		values(
			seq_g_gi_no.nextval,
			#{groupNo},
			#{giTitle}
		)
 	</insert>
 	<insert id="insertGroupInfo">
 		<selectKey keyProperty="seqNo" resultType="_int" order="BEFORE">
			select
				seq_g_gi_no.currval
			from
				dual
		</selectKey>
		insert into
			groupinfo
		values(
			seq_gi_no_no.nextval,
			#{seqNo},
			#{giSubTitle},
			#{giContent}
		)
	</insert>
	<select id="groupgroupContOne" resultType="CategoryOne">
		select * from studygroup_category1 order by category1_no asc
	</select>
	
	<select id="groupgroupContTwo" resultType="CategoryTwo">
		select * from studygroup_category2 where category1_no = #{categoryOneNo} order by category2_no asc
	</select>
	
	<insert id="insertGroupCategory">
		<selectKey keyProperty="groupNo" resultType="_int" order="BEFORE">
				select
					seq_group_no.currval
				from
					dual
			</selectKey>
		insert into group_category values (seq_group_category_no.nextval , #{groupNo} ,#{category2No})
	
	</insert>
	
	<insert id="insertAlg">
		<selectKey keyProperty="groupNo" resultType="_int" order="BEFORE">
				select
					seq_group_no.currval
				from
					dual
			</selectKey>
		insert into applocation_group values(seq_alg_no_no.nextval,#{memberId},#{groupNo},default,null,'G',default)
	
	</insert>
	<select id="selectGroupTotalCount" resultType="_int">
		select count(*) from 
	<if test="ca2No == 0">
		tb_group t
			left join applocation_group ag on t.group_no = ag.group_no
	</if>
	<if test="ca2No != 0">
		tb_group t 
			left join group_category g on t.group_no = g.group_no
			left join applocation_group ag on t.group_no = ag.group_no  
	</if>
	<where>
		ag.group_accept = 'Y' and ag.role='G'
		<if test="ca1No != 0">
			and category_no = #{ca1No}
		</if>
		<if test="ca2No != 0">
			and category2_no = #{ca2No}
		</if>
		<if test="searchType == 'groupName'">
			 and group_name like '%'||#{searchKeyword}||'%' 
		</if>
		<if test="searchType == 'location'">
			 and group_location like '%'||#{searchKeyword}||'%'
		</if>
	</where>

	</select>
	<select id="selectAllMyGroupList" resultType="group">
	select * from tb_group
	</select>
	
	<select id="selectAllGroupList" resultType="group">
	select * from tb_group
	</select>
	
	<select id="selectAllGroupInfoList" resultType="groupInfoConnect">
	select * from group_groupinfo
	</select>
	<select id="selectAllGroupListByCa1No" resultType="group">
	select * from tb_group where category_no = #{ca1No}
	</select>
	<select id="selectAllGroupListByCa2No" resultType="group">
	select * from tb_group t left join group_category g using(group_no) where category2_no = #{ca2No}
	</select>
	<select id="selectApprovedAG" resultType="ApplocationGroup">
		select * from applocation_group where group_accept = 'Y' and role='G'
	</select>
	
	<select id="selectAllGroupListByParam" resultType="group">
	select * from 
	<if test="ca2No == 0">
		tb_group g join applocation_group a using(group_no)
	</if>
	<if test="ca2No != 0">
		tb_group t left join group_category g using(group_no) join applocation_group  a using(group_no) 
	</if>
	<where>
		<if test="ca1No == 0">
			a.group_accept = 'Y' and a.role = 'G'
		</if>
		<if test="ca1No != 0">
			a.group_accept = 'Y' and a.role = 'G' and category_no = #{ca1No}
		</if>
		<if test="ca2No != 0">
			and category2_no = #{ca2No}
		</if>
		<if test="searchType == 'groupName'">
			 and lower(group_name ) like lower('%'||#{searchKeyword}||'%')
		</if>
		<if test="searchType == 'location'">
			 and group_location like '%'||#{searchKeyword}||'%'
		</if>
		
	</where>
		order by 
		 <if test="searchType != 'pop'">  group_enroll_date desc </if>

		 <if test="searchType == 'pop'">  group_like_count desc </if>
	</select>
	
	<select id="selectGroupListByGroupNo" resultType="group">
	select * from tb_group where group_no = #{groupNo}
	</select>
	
	<select id="selectAllGroupInfoByGroupNo" resultType="GroupInfoConnect">
	select * from group_groupinfo where group_no = #{groupNo}
	</select>
	
	<select id="selectGroupInfoListByGsNo" resultType="GroupInfo">
	select * from groupinfo where seq_no = #{gsNo}
	</select>
	
	<select id="selectCategoryOneByCateNo" resultType="CategoryOne">
	select * from studygroup_category1 where category1_no = #{cateNo}
	</select>
	
	<select id="selectGroupCategoryListByGroupNo" resultType="GroupCategory">
	select * from group_category where group_no = #{groupNo}
	</select>
	
	<select id="selectCategoryTwoListByGroupNo" resultType="CategoryTwo">
	select * from studygroup_category2 where category2_no = #{num}
	</select>
	
	<insert id="insertGroupJoin">
	insert into applocation_group values(seq_alg_no_no.nextval, #{memberId}, #{groupNo}, default, #{answer}, default,current_date)
	</insert>
	
	<select id="selectgroupLike" resultType="_int"  parameterType="hashmap" >
	select count(*) from interest_group where group_no = #{groupNo} and member_id = #{memberId}
	</select>
	
	<delete id="deletegroupLike" parameterType="hashmap">
	 delete from interest_group where group_no = #{groupNo} and member_id = #{memberId}
	</delete>
	
	<insert id="insertgroupLike" parameterType="hashmap">
	insert into interest_group values (seq_inter_no_no.nextval,#{memberId},#{groupNo})
	</insert>
	
	<select id="selectCountGroupLike" resultType="_int">
		select group_like_count  from tb_group where group_no =#{groupNo}
	</select>	
	
	<update id="updateGroupLikeCount">
		update tb_group set group_like_count = #{newCount} where group_no =#{groupNo}
	</update>
	
	<select id="selectAllInterstGroup" resultType="MemberInterestGroup">
		select * from interest_group	
	</select>
	
	<select id="selectAllGroupCategory" resultType="GroupCategory">
		select * from group_category
	</select>
	
	<select id="selectAllCategoryTwoList" resultType="CategoryTwo">
		select * from studygroup_category2
	</select>
	
	<select id="selectAllNumOfGM" resultType="NumberOfGroupMember">
		select
		    group_no, count(group_no) as cnt
		from
		    applocation_group
		group by group_no
	</select>

	<insert id="insertGroupeReply">
	insert into reply values(SEQ_REPLY_NO_NO.nextval, #{memberId},#{content},null,null,default,null,null,null,#{groupNo}, null)
	</insert>
	
	<select id="selectReplyListBygroupNo" resultType="reply">
	select * from reply where group_no = #{groupNo}
	</select>
	
	<delete id="deleteGroupReply">
	delete from reply where reply_no = #{replyNo}
	</delete>

	
	<select id="CategoryOneList" resultType="CategoryOne">
	select * from studygroup_category1
	</select>
	
	<select id="selectALGroupListByGroupNo" resultType="ApplocationGroup">
	select * from applocation_group where group_no = #{groupNo}
	</select>
	
	<delete id="deleteInterestGroupByParam" >
	delete from interest_group where member_id = #{memberId} and group_no = #{groupNo}
	</delete>
	
	<delete id="deleteGroup">
		delete tb_group where group_no = #{groupNo}
	</delete>
	
	<delete id="deleteAuthoritiesRelatedGroup">
	delete authorities where authority like '%' ||  #{groupNo} || '%'

	</delete>


</mapper>