<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="group">
  <insert id="insertGroup">
	insert into 
		tb_group
	values(
		seq_group_no.nextval,
		1,
		#{groupName},
		default,
		#{groupCharge},
		default,
		#{groupPool},
		#{groupPrivate},
		default,
		#{groupLocation}
	)
  </insert>
	<insert id="insertAttach">
		insert into
			attachment
		values(
			seq_attach_no_no.nextval,
			#{memberId},
			null,
			#{originalFilename},
			#{renamedFilename},
			sysdate,
			#{imgFlag},
			default
		)
	</insert>
 	<insert id="insertGroupInfoConnect">
 		<selectKey keyProperty="groupNo" resultType="_int" order="BEFORE">
			select
				seq_group_no.currval
			from
				dual
		</selectKey>
		insert into 
			group_groupinfo
		values(
			seq_g_gi_no.nextval,
			#{groupNo},
			#{giTitle}
		)
 	</insert>
 	<insert id="insertGroupInfo">
 		<selectKey keyProperty="seqNo" resultType="_int" order="BEFORE">
			select
				seq_g_gi_no.currval
			from
				dual
		</selectKey>
		insert into
			groupinfo
		values(
			seq_gi_no_no.nextval,
			#{seqNo},
			#{giSubTitle},
			#{giContent}
		)
	</insert>
</mapper>