<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gw">
  <select id="selectMyGroup" resultType="group">
  select * from tb_group where group_no = #{groupNo}
  </select>
  
  <select id="selectAllGroupMembers" resultType="member">
  select m.*, a.renamed_filename from tb_member m join attachment a on m.id = a.member_id join applocation_group g on m.id = g.member_id where a.img_flag = 'P' and g.group_no = #{groupNo}
  </select>
  
  <select id="selectMemberProfileRenamedFilename" resultType="string">
  select renamed_filename from attachment where member_id = #{id} and img_flag = 'P'
  </select>
  
  <select id="selectAllMyGroup" resultType="group">
  select * from applocation_group a join tb_group g using (group_no) where member_id=#{id} and group_accept='Y'
  </select>
  
  <select id="selectAllGroupBannerAttach" resultType="attachment">
  select * from attachment where group_no is not null and img_flag = 'Y'
  </select>
  <select id="selectAllChatRoomByGroupNo" resultType="chatRoom">
  select * from chat_room where group_no = #{groupNo}
  </select>
  <select id="selectAllBoardRoomByGroupNo" resultType="board">
  select * from board where group_no = #{groupNo} order by board_no
  </select>
  <select id="selectAllBoardRoomByGroupNotice" resultType="board">
  	select * from board where group_no = #{groupNo} and board_type = 'N' order by board_no
  </select>

<select id="selectAllZoomRoomList" resultType="Room">
select * from zoom_room where group_no = #{groupNo}
</select>

<select id="selectRoomInfoByGroupNoAndRoomNo" resultType="Room">
select * from zoom_room where room_no = #{roomNo}
</select>

<insert id="insertVoiceChatRoom">
insert into zoom_room values(seq_zoom_room_no.nextval, #{groupNo}, #{zoomId}, #{zoomPassword},#{roomName}, #{roomAdmin})
</insert>


<delete id="deleteVoiceChatRoom">
delete from zoom_room where room_no = #{roomNo}
</delete>

<select id="selectApplocationGroup" resultType="applocationGroup" parameterType="hashmap"> 
select role from applocation_group where member_id =#{memberId} and group_no =#{groupNo}
</select>

<select id="selectTodayScheduleListByGroupNo" resultType="schedule">
select * from schedule where to_char(start_date, 'YYYYMMDD') <![CDATA[<=]]> to_char(sysdate, 'YYYYMMDD') and to_char(end_date, 'YYYYMMDD') <![CDATA[>=]]> to_char(sysdate, 'YYYYMMDD') and group_no = #{groupNo}
</select>

<select id="selectNewPostsListByGroupNo" resultType="postWithBoardName">
     select 
        b.board_name,
        b.board_no, 
        b.board_type, 
        p.*
     from post p join board b on p.board_no = b.board_no 
     where 
        to_char(p.post_reg_date, 'YYYYMMDD') = to_char(sysdate, 'YYYYMMDD') 
        and group_no = #{groupNo} and rownum <![CDATA[<=]]> 5
    order by post_reg_date desc
</select>
</mapper>