<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
  <select id="selectNoticeList" resultType="notice">
		select
		    *
		from
		    notice
		order by
		    notice_no desc
	</select>
	<select id="selectNoticeTotalCount" resultType="_int">
		select 
			count(*) 
		from 
			notice
	</select>
	<insert id="insertAttach">
		insert into
			attachment
		values(
			seq_attach_no_no.nextval,
			#{memberId},
			null,
			#{originalFilename},
			#{renamedFilename},
			sysdate,
			default,
			default
		)
	</insert>
	<insert id="insertNotice">
		<selectKey keyProperty="attachNo" resultType="_int" order="BEFORE">
			select
				seq_attach_no_no.currval
			from
				dual
		</selectKey>
		insert into
			notice
		values(
			seq_notice_no_no.nextval,
			#{noticeTitle},
			#{noticeContent},
			current_date,
			0,
			#{memberId},
			#{attachNo}
		)
	</insert>
	<select id="selectOneNotice" resultType="notice">
		select * from notice where notice_no = #{no}
	</select>
	<select id="selectOneAttach" resultType="attachment">
		select * from attachment where attach_no = #{attachNo}
	</select>
</mapper>