<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="index">
  
  <select id="selectJoinAllGroupInfo" resultType="JoinAllGroupInfo">
	  select 
	    g.group_no,
	    g.group_name,
	    g.group_enroll_date,
	    g.group_like_count,
	    g.group_close,
	    g.group_pool,
	    (select count(group_no) from applocation_group ag where g.group_no = ag.group_no group by group_no) "NUM_OF_MEMBER",
	    ggi.gi_title,
	    sc.category1_name,
	    a.renamed_filename,
	    a.img_flag
		from
		    tb_group g left join group_groupinfo ggi
		        on g.group_no = ggi.group_no
		    left join attachment a
		        on g.group_no = a.group_no
		    left join studygroup_category1 sc
		        on g.category_no = category1_no
		    left join applocation_group ag
		    	on g.group_no = ag.group_no
		where
			group_accept = 'Y' and role='G'
		    and a.img_flag = 'Y'
		<if test="type == 0">
		order by g.group_like_count desc
		</if>
		<if test="type == 1">
		order by g.group_enroll_date desc
		</if>
  </select>
  <select id="selectCateTwoNameList" resultType="GroupWithCategoryTwo">
  	select
	    g.group_no,
	    sc.category2_name
	from
	    tb_group g left join group_category gc
	        on g.group_no = gc.group_no
	    left join studygroup_category2 sc
	        on gc.category2_no = sc.category2_no
	order by group_no desc
  </select>
  
</mapper>