<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="index">
  
  <select id="selectJoinAllGroupInfo" resultType="JoinAllGroupInfo">
	  select 
	    g.group_no,
	    g.group_name,
	    g.group_enroll_date,
	    g.group_like_count,
	    ggi.gi_title,
	    sc.category1_name,
	    a.renamed_filename,
	    a.img_flag
		from
		    tb_group g left join group_groupinfo ggi
		        on g.group_no = ggi.group_no
		    left join attachment a
		        on g.group_no = a.group_no
		    left join studygroup_category1 sc
		        on g.category_no = category1_no
		where
		
		    a.img_flag = 'Y'
		<if test="type == 0">
		order by g.group_like_count desc
		</if>
		<if test="type == 1">
		order by g.group_enroll_date desc
		</if>
  </select>
  
  
</mapper>