<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
  <select id="selectAllMembers" resultType="Member">
  	select
  		*
  	from
  		tb_member
  </select>
  
  <select id="selectOneMember" resultType="MemberWithGroup">
	select
	    m.*,
	    (select group_name from tb_group tb where m.group_no = tb.group_no) "GROUP_NAME"
	from
	    (select
	        m.*,
	        group_no
	    from 
	        tb_member m 
	        left join applocation_group ag on m.id = ag.member_id
	    where 
        group_accept='N' or group_accept is null) m	
    where
	    id=#{id}
  </select>
  
  <!-- 블랙리스트 등록 및 해제 -->
   <update id="updateBlack">
  	update
  		tb_member
  	<set>
  		<if test="enabled == 'true'">enabled =0</if>
  		<if test="enabled == 'false'">enabled =1</if>
  	</set>
  	where
  		id = #{id}
  </update>
  
  <!-- 회원 목록 내에서 회원 검색 -->
  <select id="searchMembers" resultType="Member">
  	select
  		*
  	from
  		tb_member
  	<where>
		<if test="searchType == 'id' and searchKeyword != ''">
			and id like '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchType == 'memberName' and searchKeyword != ''">
			and member_name like '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchType == 'nickname' and searchKeyword != ''">
			and nickname like '%'||#{searchKeyword}||'%'
		</if>		
		<if test="searchType == 'phone' and searchKeyword != ''">
			and phone like '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchType == 'email' and searchKeyword != ''">
			and email like '%'||#{searchKeyword}||'%'
		</if>		
		<if test="searchGender != ''">
			and member_gender like #{searchGender}
		</if>
		<if test="searchRegDateStart != '' and searchRegDateEnd != ''">
			and member_enroll_date between #{searchRegDateStart} and #{searchRegDateEnd}
		</if>
		<if test="searchBirthdayStart != '' and searchBirthdayStart != ''">
			and birthday between #{searchBirthdayStart} and #{searchBirthdayEnd}
		</if>
		<if test="searchEnabled != ''">
			and enabled = ${searchEnabled}
		</if>		
	
  	</where>
  </select>
  
  <!-- 미승인 그룹리스트 조회 -->
  <select id="selectNotApprovedAGList" resultType="ApplocationGroup">
  	select 
  		* 
  	from 
  		applocation_group 
  	where 
  		role = 'G' and group_accept ='N'
  
  </select>
  
  <!-- 미승인 그룹(비동기용) -->
  <select id="selectOneNotApprovedGroup" resultType="NotApprovedGroup">
	select 
	    g.*,
	    ag.member_id "HOST_ID",
	    ag.role,
	    a.renamed_filename,
	    a.img_flag,
	    sc.category1_name
	from 
	    tb_group g left join applocation_group ag
	        on g.group_no = ag.group_no
	    left join attachment a
	        on g.group_no = a.group_no
	    left join studygroup_category1 sc
	        on g.category_no = sc.category1_no
	where
	    g.group_no = #{groupNo} and ag.role='G'
  </select>
    <!-- 그룹 승인하기 -->
   <update id="updateGroupApprove">
  	update
  		applocation_group
  	<set>
  		group_accept='Y'
  	</set>
  	where
  		group_no = #{groupNo}
  </update>
</mapper>