<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
  <select id="selectAllMembers" resultType="Member">
  	select
  		*
  	from
  		tb_member
  </select>
  
  <select id="selectOneMember" resultType="Member">
  	select
  		*
  	from
  		tb_member
  	where
  		id=#{id}
  </select>
  
   <update id="updateBlack">
  	update
  		tb_member
  	<set>
  		<if test="enabled == 'true'">enabled = 0</if>
  		<if test="enabled == 'false'">enabled = 1</if>
  	</set>
  	where
  		id = #{id}
  		
  </update>
</mapper>