<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="calendar">

<insert id="insertSchedule">
insert into	
	SCHEDULE 
VALUES(
	seq_schedule_no.nextval,
	#{groupNo},
	#{loginMember},
	#{title},
	#{content},
	
	#{allDay},
	to_date(#{start_date}, 'yyyy/mm/dd hh24:mi:ss'),
	to_date(#{end_date}, 'yyyy/mm/dd hh24:mi:ss'),
	#{category},
	'N'
	)
</insert>

<select id="selectScheduleList" resultType="Schedule">
select
*
from
	schedule
where
	group_no = #{groupNo}
</select>
  
</mapper>