<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<select id="selectOneMember" resultType="member">
		select
			*
		from
			tb_member
		where
			id=#{id}
	</select>
	<insert id="insertMember">
		insert into tb_member values(#{id}, #{memberName}, #{nickname}, #{password}, #{memberEmail}, #{birthday}, #{phone}, default, #{memberGender}, #{memberJob}, null, null, default)
	</insert>
	<update id="updateMember">
		update tb_member 
		set member_name=#{memberName}, nickname=#{nickname}, member_email = #{memberEmail}, birthday = #{birthday}, phone = #{phone}, member_job = #{memberJob}
		<if test="password != '' and password != null">
		, password = #{password}
		</if> 
		where id = #{id} 
	</update>

	<insert id="insertUserAuthority">
		insert into authorities values(#{id}, 'ROLE_USER')
	</insert>
	
	<select id="selectMyGroupList" resultType="ApplocationGroup">
		select * from applocation_group where member_id = #{memberId}
	</select>
	<select id="selectAllGroupListByParam" resultType="group">
	
	</select>
	<insert id="insertAttach">
			insert into
			attachment
		values(
			seq_attach_no_no.nextval,
			#{memberId},
			null,
			#{originalFilename},
			#{renamedFilename},
			sysdate,
			default,
			default
		)
	</insert>
	<select id="selectMemberProfile" resultType="attachment">
	select * from attachment where member_id = #{id} and group_no is null and img_flag = 'N'
	</select>
	<update id="updateAttach">
	update attachment 
	set 
		original_filename = #{originalFilename}, 
		renamed_filename = #{renamedFilename} 
	where 
		member_id = #{memberId}
	</update>
</mapper>