<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
  <insert id="createBoardRoom">
  	insert into board values(seq_board_no_no.nextval, #{groupNo}, #{boardName}, #{boardType})
  </insert>
  
  <update id="updateBoardRoom">
  	update board set board_name = #{boardName} where board_no = #{boardNo}
  </update>
  <delete id="deleteBoardRoom">
	delete from board where board_no = #{boardNo}
  </delete>
  <select id="selectAllPostInBoard" resultType="PostWithCategory">
	select
	    p.*,
	    bc.board_category
	from
	    post p left join board_category bc
	        on p.board_category_no = bc.board_category_no 
	where board_no = #{boardNo}
	order by post_no desc
  </select>
  <select id="selectBoardByBoardNo" resultType="board">
		select * from board where board_no = #{boardNo} 
  </select>
  <select id="selectPostInBoardTotalCount" resultType="_int">
		select 
			count(*) 
		from 
			post
		where
			board_no = #{boardNo}
	</select>
 <select id="selectAllPostInNotice" resultType="Post">
  	select * from post where board_no = #{boardNo} order by post_no desc
  </select>
  <select id="selectAllPostInAnonymous" resultType="Post">
  	select * from post where board_no = #{boardNo} order by post_no desc
  </select>
  <select id="selectOnePostInBoard" resultType="post">
		select * from post where post_no = #{postNo}
  </select>
  
  <select id="selectOnePostInNotice" resultType="post">
		select * from post where post_no = #{postNo}
  </select>
  <select id="selectOnePostInAnonymous" resultType="post">
		select * from post where post_no = #{postNo}
  </select>
  
  
  <select id="selectOneAttach" resultType="attachment">
		select * from attachment where attach_no = #{attachNo}
  </select>
  <delete id="deletePostInBoard">
  		delete from post where post_no =#{postNo}
  </delete>
   <delete id="deleteAttachInBoard">
  		delete from attachment where attach_no =#{attachNo}
  </delete>
  
  <insert id="insertPost">
	insert into 
		post
	values(
		SEQ_POST_NO_NO.nextval,
		#{memberId},
		#{boardNo},
		#{postTitle},
		#{postContent},
		sysdate,
		null,
		null,
		null,
		null
	)
  </insert>
  <insert id="insertAttach">
		insert into
			attachment
		values(
			seq_attach_no_no.nextval,
			#{memberId},
			#{groupNo},
			#{originalFilename},
			#{renamedFilename},
			sysdate,
			default,
			default
		)
  </insert>
  <insert id="insertPostFile">
		<selectKey keyProperty="attachNo" resultType="_int" order="BEFORE">
			select
				seq_attach_no_no.currval
			from
				dual
		</selectKey>
		insert into post values(SEQ_POST_NO_NO.nextval, #{memberId}, #{boardNo}, #{postTitle}, #{postContent}, current_date, null, #{attachNo}, null, null)
		
  </insert>
  <select id="memberWithGroupList" resultType ="MemberWithGroup">
  	select
	    m.*,
	    (select group_name from tb_group tb where m.group_no = tb.group_no) "GROUP_NAME",
		(select renamed_filename from attachment a where a.attach_no = m.attach_no) "renamed_FileName"	    
	from
	    (select
	        m.*,
	        group_no
	    from 
	        tb_member m 
	        left join applocation_group ag on m.id = ag.member_id) m	
    where
	    group_no=#{groupNo}
  </select>
	
</mapper>