<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
  <insert id="createBoardRoom">
  	insert into board values(seq_board_no_no.nextval, #{groupNo}, #{boardName}, #{boardType})
  </insert>
  <select id="selectAllPostInBoard" resultType="post">
	select * from post where board_no = #{boardNo}
  </select>
</mapper>