<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fileBoard">
  <insert id="insertFileAttach">
  	insert into
			attachment
		values(
			seq_attach_no_no.nextval,
			#{memberId},
			#{groupNo},
			#{originalFilename},
			#{renamedFilename},
			current_date,
			'N',
			default
		)
  </insert>
  <insert id="insertFilePost">
  <selectKey keyProperty="attachNo" resultType="_int" order="BEFORE">
			select
				seq_attach_no_no.currval
			from
				dual
		</selectKey>
  insert into
  	post
  	values
  	(
  		seq_post_no_no.nextval,
  		#{memberId},
  		#{boardNo},
  		#{postTitle},
  		null,
  		current_date,
  		null,
  		#{attachNo},
  		#{boardCategoryNo}
  		)
  	
  </insert>

  <select id="selectAllPostInfileBoard" resultType="PostWithCategory">
  		select
	    p.*,
	    bc.board_category
	from
	    post p left join board_category bc
	        on p.board_category_no = bc.board_category_no 
	where board_no = #{boardNo}
  </select>
  	
  <select id="selectAttachmentList" resultType="attachment">
  select*from attachment
  </select>
  
  <select id="selectOneAttachment" resultType="attachment">
		select
			*
		from
			attachment
		where
			attach_no = #{attachNo}
	</select>
</mapper>