<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fileBoard">
  <insert id="insertFileAttach">
  	insert into
			attachment
		values(
			seq_attach_no_no.nextval,
			#{memberId},
			#{groupNo},
			#{originalFilename},
			#{renamedFilename},
			current_date,
			'N',
			default
		)
  </insert>
  <insert id="insertFilePost">
  <selectKey keyProperty="attachNo" resultType="_int" order="BEFORE">
			select
				seq_attach_no_no.currval
			from
				dual
		</selectKey>
  insert into
  	post
  	values
  	(
  		seq_post_no_no.nextval,
  		#{memberId},
  		#{boardNo},
  		#{postTitle},
  		null,
  		current_date,
  		null,
  		#{attachNo},
  		#{boardCategoryNo},
  		null
  		)
  	
  </insert>

  <select id="selectAllPostInfileBoard" resultType="PostWithCategory">
  		select
	    p.*,
	    bc.board_category
	from
	    post p left join board_category bc
	        on p.board_category_no = bc.board_category_no 
	where board_no = #{boardNo}
  </select>
  	
  <select id="selectAttachmentList" resultType="attachment">
  select*from attachment
  </select>
  
  <select id="selectOneAttachment" resultType="attachment">
		select
			*
		from
			attachment
		where
			attach_no = #{attachNo}
	</select>
	
	<delete id="deleteFilePost" >
		delete from post where post_no =#{postNo}
	</delete> 

	<delete id="deleteOneAttach" >
		delete from attachment where attach_no =#{attachNo}
	</delete> 
	
<!--파일보드 검색쿼리 -->
	<select id="selectAllFileBoardListByParam" resultType="PostWithNickname">
	 select 
	         p.*,
	         bc.board_category,
	         m.nickname
	 from
	 	post p join board_category bc
	    	on p.board_category_no = bc.board_category_no
	    left join tb_member m
        	on p.member_id = m.id
	<where>		
	  
	 p.board_category_no in (5,6,7,8,9)
		
		<if test="searchType == 'all'">
			 and m.nickname like '%'||#{searchKeyword}||'%' or post_title like '%'||#{searchKeyword}||'%'  and p.board_category_no in (5,6,7,8,9)
		</if>
		<if test="searchType == 'img'">
			 and  p.board_category_no = 5 and m.nickname like '%'||#{searchKeyword}||'%' or post_title like '%'||#{searchKeyword}||'%' and p.board_category_no in (5)
		</if>	
		<if test="searchType == 'document'">
			 and  p.board_category_no = 6 and m.nickname like '%'||#{searchKeyword}||'%' or post_title like '%'||#{searchKeyword}||'%'and p.board_category_no in (6)
		</if>			
		<if test="searchType == 'zip'">
			 and  p.board_category_no = 7 and m.nickname like '%'||#{searchKeyword}||'%' or post_title like '%'||#{searchKeyword}||'%' and p.board_category_no in (7)
		</if>
		<if test="searchType == 'code'">
			 and  p.board_category_no = 8 and m.nickname like '%'||#{searchKeyword}||'%' or post_title like '%'||#{searchKeyword}||'%' and p.board_category_no in (8)
		</if>
		<if test="searchType == 'etc'">
			 and  p.board_category_no = 9 and m.nickname like '%'||#{searchKeyword}||'%' or post_title like '%'||#{searchKeyword}||'%' and p.board_category_no in (9)
		</if>			
	</where>
		order by post_reg_date desc
	</select>
	<select id="selectSearchFileBoardTotalCnt" resultType="_int">
	 select 
		count(*)
	 from
	 	post p join board_category bc
	    	on p.board_category_no = bc.board_category_no
	    left join tb_member m
        	on p.member_id = m.id
	<where>		
	  
	 p.board_category_no in (5,6,7,8,9)
		
		<if test="searchType == 'all'">
			 and m.nickname like '%'||#{searchKeyword}||'%' or post_title like '%'||#{searchKeyword}||'%'  and p.board_category_no in (5,6,7,8,9)
		</if>
		<if test="searchType == 'img'">
			 and  p.board_category_no = 5 and m.nickname like '%'||#{searchKeyword}||'%' or post_title like '%'||#{searchKeyword}||'%' and p.board_category_no in (5)
		</if>	
		<if test="searchType == 'document'">
			 and  p.board_category_no = 6 and m.nickname like '%'||#{searchKeyword}||'%' or post_title like '%'||#{searchKeyword}||'%'and p.board_category_no in (6)
		</if>			
		<if test="searchType == 'zip'">
			 and  p.board_category_no = 7 and m.nickname like '%'||#{searchKeyword}||'%' or post_title like '%'||#{searchKeyword}||'%' and p.board_category_no in (7)
		</if>
		<if test="searchType == 'code'">
			 and  p.board_category_no = 8 and m.nickname like '%'||#{searchKeyword}||'%' or post_title like '%'||#{searchKeyword}||'%' and p.board_category_no in (8)
		</if>
		<if test="searchType == 'etc'">
			 and  p.board_category_no = 9 and m.nickname like '%'||#{searchKeyword}||'%' or post_title like '%'||#{searchKeyword}||'%' and p.board_category_no in (9)
		</if>			
	</where>
		order by post_reg_date desc
	</select>
	
	
	<select id="selectIdNickName" resultType="IdNickName">
		select
		id,
		nickname
		from
		tb_member
	</select>
	
	 <select id="selectPostInFileBoardTotalCount" resultType="_int">
		select 
			count(*) 
		from 
			post
		where
			board_no = #{boardNo}
	</select>
	
</mapper>